.post-card {
  margin: 1.5rem;
  border: 1px solid var(--yellow);
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.9);
  background-color: var(--navy);
  max-width: 30rem;
  transition: 0.75s ease;
}

.post-card:hover {
  box-shadow: 0rem 5rem 2rem rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 6px var(--yellow);
}

.post-title {
  color: var(--beige);
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1.3rem;
}

.post-body {
  color: white;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  margin-bottom: 1.3rem;
}

.postCredit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--yellow);
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 1.3rem;
}

.postCredit a {
  color: var(--yellow);
  text-decoration: none;
  color: red;
  transition: ease 0.2s;
  margin-right: 1rem;
}

.postCredit a:hover {
  color: aqua;
  letter-spacing: 1px;
}

/* media */

@media (max-width: 300px) {
  .post-title {
    font-size: 1.2rem;
  }

  .post-body {
    font-size: 1rem;
  }

  .postCredit {
    font-size: 0.7rem;
    margin-left: 0.5rem;
    margin-bottom: 1.3rem;
  }
}
