.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--yellow);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.9);
  width: 40rem;
  height: 30rem;
  margin: auto;
  margin-top: 3%;
  background-color: var(--navy);
  transition: 0.75s ease;
}

.user-container:hover {
  box-shadow: 0rem 5rem 2rem rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 9px var(--yellow);
}

.name {
  color: var(--yellow);
  font-size: 2.5rem;
  margin: 1rem 0;
  border-bottom: 1px solid var(--yellow);
}

.titles {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  margin-bottom: 0.5rem;
}

.title a {
  text-decoration: none;
  color: white;
  transition: ease 0.5s;
  font-size: 1.2rem;
}

.title a:hover {
  color: var(--beige);
  letter-spacing: 0.5px;
  border-bottom: 1px solid var(--yellow);
  text-shadow: 1px 1px 9px var(--yellow);
}

/* media */

@media (max-width: 768px) {
  .user-container {
    margin-top: 5%;
  }
}

@media (max-width: 450px) {
  .user-container {
    width: 24rem;
    height: 32rem;
    margin-top: 9%;
  }

  .title a {
    font-size: 1rem;
  }

  .title a:hover {
    letter-spacing: 0.2px;
  }
}

@media (max-width: 350px) {
  .user-container {
    width: 18rem;
  }

  .name {
    font-size: 1.4rem;
    margin: 0.5rem 0;
  }

  .title a {
    font-size: 0.9rem;
  }

  .title a:hover {
    letter-spacing: 0.1px;
  }
}
